@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  font-family: "Inter", sans-serif;
}

#container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.window-style {
  background-color: #f0f0f0;
  border: 1px solid #c0c0c0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  max-width: 100%;
  width: 80%;
}

.win-button {
  background-color: #e5e7eb;
  color: #1f2937;
  font-weight: 400;
  padding: 0.25rem 1rem;
  border: 1px solid #9ca3af;
  font-size: 1rem;
  transition: all 100ms ease-in-out;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.win-button:hover {
  background-color: #d1d5db;
}
.win-button:active {
  background-color: #9ca3af;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.student-table tr td {
  border: 1px solid #9ca3af;
  padding: 10px;
}
